PORT=8000
NODE_ENV=DEVELOPMENT
DB_LOCAL_URI=mongodb://localhost:27017/E-Commerce-MERN
DB_URI=mongodb://localhost:27017/E-Commerce-MERN
JWT_SECRET=3G!bNdp4Z@vX^q8dfa554L%kJ^m5fZp
JWT_EXPIRES_TIME=7d