# Server configuration
PORT=8000
NODE_ENV=DEVELOPMENT

# Database URIs
DB_LOCAL_URI=mongodb+srv://username:password@cluster0.mongodb.net/E-Commerce?retryWrites=true&w=majority
DB_URI=mongodb+srv://username:password@cluster0.mongodb.net/

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_TIME=7d
COOKIE_EXPIRES_TIME=7

# SMTP Configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your_smtp_email
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=noreply@shop.com
SMTP_FROM_NAME=E-Commerce

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_FREE_SHIPPING=your_stripe_free_shipping_id
STRIPE_GROUND_SHIPPING=your_stripe_ground_shipping_id
STRIPE_TAX_RATE_ID=your_stripe_tax_rate_id
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
